.section3-card {

    display: flex;
    overflow-x: scroll;
}

.section3-card-1 {
    width: 18em;
    padding: 2em;
    margin: 2em;

}

.card-image {
    height: 25rem;
    width: 18rem;
    /* height: 20em; */
}